*{
    scroll-behavior: smooth;
}

body{
    height: 3000px;
}

h1{
    text-align: center;
    transition: 1s;
    margin-top: 45vh;
    font-size: 5rem;
}

h2{
    text-align: center;
    transition: 1s;
    font-size: 3.5rem;
}